# Development
node_modules
*.log
.DS_Store
.git
.github
.editorconfig
.vscode

# Testing
coverage
.nyc_output
test

# Source control
.git
.gitignore

# Extra files
*.tgz
.npmrc

# Scripts
scripts/ HUSKY=0
